<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
	background-image: url('/img/chartreux.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.flex-form input[type="submit"] {
	background: #ef3f5a;
	border: 1px solid #ef3f5a;
	color: #fff;
	padding: 0 30px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.flex-form input[type="submit"]:hover {
	background: #d73851;
	border: 1px solid #d73851;
}
.flex-form {
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
	line-height: 40px;
	font-size: 1rem;
}
input[type="url"] {
	width: 70%;
	padding: 0 10px;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">PUT YOUR LINK HERE</h1>
	<form method="post" class="w3-center flex-form">
		<input type="url" name="link" placeholder="Which you want to share?">
		<input type="submit" value="Share">
	</form>
    <p class="w3-large w3-center">35 days left</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>
</html>
